/* Constants! */
:root
{
    --background1: #27beec;
    --background2: #298EC4;
    --background3: #116FA2;
    --background-trans: #fca73f81;
    --shadow1: #1a5a7cbd;
    --shadow2: #a5681dbd;
    --highlight1: #ffcd8f;
    --highlight2: #e7a95e;
    --highlight3: #c28c4b;
    --super-stressed-text: #bae0ff;
    --super-stressed-shadow: #0e5381d5;
    --stressed-text: #000000;
    --title-text: #3b3026;
    --title-text-highlighted: #3980c2;
    --link-text: #0054c2;
    --link-text-highlighted: #abdefd;
    --unstressed-text: #3b3a3a;
}

/* Generics/overrides */
html
{
    width: 100vw;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
}
*
{
    padding: 0;
    margin: 0;
    border: 0;
}
a
{
    text-decoration: underline;
    color: var(--link-text);
    -webkit-transition: color 0.0875s;
       -moz-transition: color 0.0875s;
         -o-transition: color 0.0875s;
            transition: color 0.0875s;
}
#page-header a
{
    color: var(--title-text);
}
a:hover
{
    cursor: pointer;
    color: var(--link-text-highlighted)
}
#page-header a:hover
{
    color: var(--title-text-highlighted)
}

/* Main page organization */
body
{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
}
#page-header
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    padding: 5px 0 5px;
    margin: 0;
    background-color: var(--highlight2);
    color: var(--unstressed-text);
    text-align: center;
    align-content: space-evenly;
    box-shadow: 0px 3px 10px var(--shadow2);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    font-weight: bolder;
}
#page-footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 22px;
    padding: 5px 0 5px;
    margin: 0;
    background-color: var(--highlight2);
    color: var(--unstressed-text);
    text-align: center;
    align-content: space-evenly;
    box-shadow: 0px -3px 10px var(--shadow2);
}
#main-scroller
{
    position: relative;
    width: 100vw;
    height: 100vh;
    color: var(--stressed-text);
    background-color: var(--background1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#shader-canvas
{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
#shader-canvas-veil
{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--background1);
    transition: background-color 2.75s cubic-bezier(.25,.46,.45,.94)
}
#shader-canvas-veil.disappeared
{
    background-color: rgba(var(--background1), 0.0);
}
#floating-body
{
    position: absolute;
    width: 850px;
    max-width: 75%;
    height: max-content;
    max-height: 75%;
    flex: 1 1 auto;
    background-color: var(--background-trans);
    color: var(--stressed-text);
    align-self: center;
    padding: 13px 45px 30px 45px;
    margin: 20px 25px;
    border-radius: 10px;
    border-width: 8px;
    border-style: solid;
    border-color: var(--highlight1);
    box-shadow: 0px 0px 12px var(--shadow2);
}
#floating-body:hover
{
    animation: 10s linear infinite alternate both running border-shift;
}
@keyframes border-shift
{
    from { border-color: var(--highlight1); }
    to { border-color: var(--highlight3); }
}
#floating-body a
{
    text-shadow: 1px 1px 2px var(--shadow1);
}

/* Lower-level specifics */
.paragraph:before
{
    float: left;
    white-space: nowrap;
    content: ". . . . . "
}
#splash
{
    color: var(--super-stressed-text);
    text-align: center;
    text-shadow: 2px 2px 3px var(--super-stressed-shadow);
    font-size: 1.5em;
    font-weight: 600;
    padding: 0;
    margin: 5px 0;
    animation: 0.7s cubic-bezier(.52,.07,.74,.22) infinite alternate both running splash-jump;
}
@keyframes splash-jump {
    from { transform: translate(0, -2px); }
    to { transform: translate(0, 12px); }
}
#floating-body h2
{
    font-size: 1.75em;
    font-weight: bold;
    margin: 7px 0;
}
#floating-body ul
{
    list-style: disclosure-closed;
}
#floating-body li
{
    margin: 5px 0;
}
#floating-body li p
{
    margin: 5px 0;
}
