# This workflow ensures that all commits to main build, and
# then publishes those builds as an artifact for the EC2
# webserver to grab & deploy.

name: Gradle Build

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write # I *think* this is needed
        
        steps:
        # Setup
        - name: Checkout up-to-date from origin
          uses: actions/checkout@v4
        - name: Setup Java Environment
          uses: actions/setup-java@v4
          with:
            distribution: "temurin"
            java-version: "17"
        - name: Setup Gradle
          uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

        # Build
        - name: Build Gradle project
          run: ./gradlew build

        # Publish
        - name: Upload built .jars
          uses: actions/upload-artifact@v4
          with:
            name: Package
            path: build/libs

