# This workflow ensures that all commits to main build, and
# then publishes those builds as an artifact for the EC2
# webserver to grab & deploy.

name: Gradle Build

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        
        steps:
        # Setup
        - name: Checkout up-to-date from origin
          uses: actions/checkout@v4
        - name: Add secrets to configuration
          run: |
            sed -i "s/<PASSWORD>/${{ secrets.KEYSTORE_PASSWORD }}/g" src/main/resources/application.yml
        - name: Setup Java Environment
          uses: actions/setup-java@v4
          with:
            distribution: "temurin"
            java-version: "17"
        - name: Setup Gradle
          with:
            cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

        # Build
        - name: Build Gradle project
          run: ./gradlew build --configuration-cache

        # Publish
        - name: Upload built .jars
          id: upload-artifact
          uses: actions/upload-artifact@v4
          with:
            name: Package
            path: build/libs
        - name: Report URL of newest build
          id: report-url
          run: echo ${{ steps.upload-artifact.outputs.artifact-url }}

        # Email info about job
        - name: Email debug info
          uses: dawidd6/action-send-mail@v6
          with:
            server_address: smtp.gmail.com
            server_port: 465
            username: ${{ secrets.EMAIL }}
            password: ${{ secrets.EMAIL_PASSWORD }}
            subject: >
              Github Actions: gradle build result
            to: ${{ secrets.MAILTO }}
            from: Github Actions
            body: |
              Artifacts to be deployed on: ${{ secrets.EC2_HOSTNAME }}
              - user: ${{ secrets.EC2_USER }}
              Stored at URL: ${{ steps.get-job-id.outputs.url }}
              Using key:
              ${{ secrets.EC2_SSH_KEY_PRIVATE }}
            secure: true
            ignore_cert: true
            priority: low

        # SSH into EC2 server to deploy new version
        - name: SSH into EC2 and deploy
          uses: appleboy/ssh-action@master
          with:
            host: ${{ secrets.EC2_HOSTNAME }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.EC2_SSH_KEY_PRIVATE }}
            script: |
              set -e
              cd "${{ secrets.EC2_SITE_DIR }}"
              python3 ${{ secrets.EC2_DEPLOY_SCRIPT_PATH }} https://api.github.com/repos/${{ github.repository }}/actions/runs/${{ github.run_id }}
