<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title layout:title-pattern="$CONTENT_TITLE: $LAYOUT_TITLE">The Site</title>
    <link th:href="@{static/favicon.ico}" rel="icon" type="image/ico">
    <link th:href="@{static/css/style.css}" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <div th:replace="fragments/header :: header" class="container">
        <header th:fragment="header" id="page-header">
            <div>
                <a th:href="@{/home}">The Site.</a>
            </div>
        </header>
    </div>

    <!-- Main Body -->
    <div id="floating-body">
        <!-- Splash -->
        <div class="body-container">
            <div id="splash">
                <p th:text="${splashText}">Example Splash!</p>
            </div>
        </div>

        <!-- Content -->
        <div class="body-container paragraph-container">
            <h2>Pages:</h2>
            <ul>
                <li th:each="page: ${pageRefs}">
                    <a th:text="${page.name}" th:href="${page.location}">Example page with link</a>
                    <p th:text="${page.description}" class="paragraph">Example description</p>
                </li>
            </ul>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="fragments/footer :: footer">

    </div>
</body>
</html>