<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title layout:title-pattern="$CONTENT_TITLE: $LAYOUT_TITLE">The Site</title>
    <link th:href="@{static/favicon.ico}" rel="icon" type="image/ico">
    <link th:href="@{static/css/style.css}" rel="stylesheet">
</head>
<!-- Header -->
<!-- Body -->
<body layout:fragment="body"></body>
<body>
    <h2>Test Attribute:</h2>
    <div th:text="${testAttribute}"></div>
</body>
<!-- Footer -->
</html>